body {
	max-width: 1024px;
	margin: 10px ;
	background-color: #18191B;
	background-image:  url(https://www.nastol.com.ua/download.php?img=201501/1600x1200/nastol.com.ua-125219.jpg);
	color:white;
}